html {
  background-color: #111;
}

#out {
  color: #d5d5d5;
  margin: 30px auto;
  width: max-content;
  max-width: 90vw;
  font-size: 5vw;
  font-weight: bold;
  font-family: monospace;
  word-wrap: break-word;
}
